<p id="notice"><%= notice %></p>

<h1>Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Customer</th>
      <th>Start_time</th>
      <th>End_time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.car_id %></td>
        <td><%= rental.customer_id %></td>
        <td><%= rental.start_time %></td>

        <td><%= rental.end_time %></td>
        <%if current_user.isCustomer? %>
        <% else %>
        <td><%= link_to 'Edit', edit_car_rental_path(@car, rental) %></td>
        <% end %>
        <td><%= link_to 'Destroy', [@car,rental], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>

</table>
<%= link_to "Back", cars_path, :class => 'button'%>


